body {
    margin-top: 60px;
    color:black;
}
    
#item { height:40px;
            width:40px;
        
    }
/*Above is CSS for Index.html file*/

    margin-top: 60px;
    color:black;
}
/*Above is CSS for Gallery.html file*/
